.bg-light1 {background-color:#e4e4e4 !important;}

.ui.dropdown {padding:0px !important;}
.input-sm {height: 34px !important;font-size: 14px!important; padding:0rem;}
input.search {  line-height: 1.21428571rem; padding: .0rem .0rem!important;}

/* Sticky footer styles
-------------------------------------------------- */
html {  position: relative; min-height: 100%;}
body {  /* Margin bottom by footer height */  margin-bottom: 80px;}
.footer { position: fixed; bottom: 0; width: 100%;  /* Set the fixed height of the footer here */  /* height: 40px;*/ background-color: #f2f2f2;}


/* /* Forms Section
   -------------------------------------------------- */
.border-left {border-left-width: 10px !important;}  
.form-group  {margin-bottom:0rem; border-bottom: 1px solid #e4e4e4 !important;padding: 7px 0px;}
.form-group row row {  margin-bottom: 3px !important;    margin-top: 3px;}
.form-horizontal .control-label {padding-top: 4px;}
.form-control {font-size: 14px !important; color:#100f0f; font-weight:300; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);  -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);   box-shadow: inset 0 0px 0px rgba(0,0,0,.075);   -webkit-transition: border linear .2s,box-shadow linear .2s;   -moz-transition: border linear .2s,box-shadow linear .2s;    -o-transition: border linear .2s,box-shadow linear .2s;    transition: border linear .2s,box-shadow linear .2s;
border:0px solid #ced4da !important; 	border-radius: 0px !important;	}
.filter-option {font-size: 14px !important; color:#212529; text-align:left;}
.nonselect{color: #c7c9cb!important;  font-weight:normal;}
.custom-select{background:url("../images/selectarrow-d.png")no-repeat center right !important; border: 0px solid #ced4da !important;	 }
.bootstrap-select .dropdown-toggle::after{display:none ;}
.btn.disabled, .btn:disabled { opacity: 1 !important;}
.form-control:focus { border-color: rgba(82,168,236,.8) !important; outline: 0; outline: thin dotted \9; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(82,168,236,.6) !important; -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(82,168,236,.6) !important;  box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(82,168,236,.6) !important; }

.input-group-addon {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1px 7px 1px 7px;  margin-bottom: 0; font-size: 1rem; font-weight: 700; line-height: 1.5; color: #545454; text-align: center; white-space: nowrap; background-color: #fff; border-top: 1px solid #ced4da;border-left: 0px solid #ced4da;border-bottom: 1px solid #ced4da;border-right: 1px solid #ced4da; border-radius:0rem; cursor: pointer;}
.fw {font-weight:500 !important; color: #555555; text-align: left !important; padding-left: 10px;}
label{font-weight: 400 !important;font-size: 14px; ;margin-bottom: inherit; }
.help-block {margin:0px !important;}

.has-error  {border: 1px solid #cc0000 !important;}
.has-error .form-control {border: 1px solid #a94442 !important;}
.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle {border:0px solid #ced4da !important;}
.list-unstyled {font-size: 14px; margin-bottom: 0rem;}
select {padding:4px 0px!important; height:28px !important;}
.fileinput-button { position: relative; overflow: hidden; display: inline-block;}
.fileinput-button input {  position: absolute;  top: 0;  right: 0;  margin: 0;  opacity: 0;  -ms-filter: 'alpha(opacity=0)';  font-size: 200px !important;  direction: ltr;  cursor: pointer;}
.form-horizontal .control-label {text-align:left;}
.col-form-label {padding:0px 15px; font-size:14px; color: #797979;}
.float-right .glyphicon, td .glyphicon{padding:4px !important}
.float-right .fa{font-size:14px;}
.btn-group-sm>.btn, .btn-sm {line-height: 1.3 !important;}
input[type="radio"]:checked:after { content: ' '; width: 8px; height: 8px; border-radius: 50px; position: absolute; top: 4px; background: #c00; text-shadow: none; left: 4px; font-size: 32px;}
input[type=radio] { padding: 0; height: 16px !important; width: 16px !important;-webkit-appearance: none; -moz-appearance: none; background-color: rgb(250, 250, 250);    border: 1px solid #adb8c0; margin-right: 5px;  margin-top: 0; border-radius: 10px;}
input[type="checkbox"]:checked:after {content: '\2714'; font-size: 14px; position: absolute; top: -3px; left: 2px; color: #c00;}
input[type=checkbox] { padding: 0; height: 16px !important; width: 16px !important;   -webkit-appearance: none; -moz-appearance: none; background-color: rgb(250, 250, 250); border: 1px solid #adb8c0; margin-right: 5px; margin-top: 2px;}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {olor: #a94442; border-color: #a94442 !important; background: #FFF url(../images/icn-red-x.png) no-repeat 100% 50%;}
.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {color: #008000;   border-color: #008000 !important;	background: #FFF url(../images/icn-green-check.png) no-repeat 100% 50%;}
.bootstrap-select.btn-group > .dropdown-toggle {padding: 4px 5px !important;} */


/**** Multistep Form new***/
.ui.search.selection.dropdown > input.search {  line-height: 1.21428571rem; padding: .0rem .0rem!important;}
.alert-dismissible .close {padding: .5rem 1.25rem;}
.cursor-pointer {cursor:pointer;}
.rootwizard .navbar{min-height:0px !important; opacity:0}
.rootwizard .navbar-inner{height:0px !important; opacity:0;}
.rootwizard .tab-content{margin-top:20px; padding:15px 0px;}
.progress-bar {    background-color: #EE1818;    height: 4px;    transition: all linear .5s;}
.progress {height:4px; background:#bbb;border-radius: 0px;}
.pager  .text-dark{font-size: 16px !important;}
.pager  ul{list-style: none;}
/**** Multistep css End***/
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block { width: 100%; background: transparent;}
#slide-navbar-collapse {position: fixed; top: 50px; left: 0px; z-index: 99; width: 240px; height: auto; background-color: #000;overflow: auto; white-space: nowrap;}
#slide-navbar-collapse1 {position: fixed; top: 50px; right: 0px; z-index: 99; width: 140px; height: auto; background-color: #000	;overflow: auto; white-space: nowrap;}
#slide-navbar-collapse2 {position: fixed; top: 55px; right: 0px; z-index: 99; width: 300px; height: 100%; background-color: #fff	;overflow: auto; white-space: nowrap;}
.menu-overlay {display: none; background-color: #000;  bottom: 0;  left: 0;  opacity: 0;  filter: alpha(opacity=50);  /* IE7 & 8 */ position: fixed; right: 0; top: 0;    z-index: 49;  }

.filter-scroll{height: 80%;overflow: auto;position: fixed;width: 300px; }
.filter-scrollbtn {width: 300px; float: right;}

.callbg{ background-color: #f2f2f2 !important; color: #212529 !important; padding:10px 0px; font-weight:700; border-left: 10px white solid;
border-right: 10px white solid;margin-top: 10px;}
.callbg:hover {background-color: #bcbcbc !important; color: #212529 !important;}
.callbg.active{background-color: #bcbcbc !important; color: #212529 !important;}
.callbg:first-child {border-left: 0px white solid;}
.callbg:last-child {border-right: 0px white solid;}
.leadbg{ background-color: #000 !important; color: #fff !important; padding:0px 0px; font-weight:700; margin-top: 10px;border-bottom: 3px solid #fff !important;border-left: 0px #000 solid;border-right: 0px #000 solid;margin-top: 10px; }
.leadbg:hover {background-color: #000 !important; color: #fff !important; border-bottom: 3px solid #28a745 !important;
position: relative;}
.leadbg.active{background-color: #000 !important; color: #fff !important; border-bottom: 3px solid #28a745 !important;
position: relative;}
.leadbg:first-child {border-left: 0px white solid;color: #fff !important;}
.leadbg:last-child {border-right: 0px white solid;color: #fff !important;}
.leadbg-b {background:#000;}
.leadbg-w {background:#fff; margin-left:-15px; margin-right:-15px; border-left: 15px white solid;border-right: 15px white solid;}
.m15{margin:0px -15px;}
.footer { position: fixed; bottom: 0; width: 100%;  /* Set the fixed height of the footer here */  /* height: 40px;*/ background-color: #f2f2f2;}
.fixed-bottom {z-index:0;}
#next:disabled, #back:disabled {
    color: #c9c9c9!important;
}

/**** Normall css End***/

@media only screen and (max-width: 990px){
	.btn-responsive {position: absolute; margin-bottom: 70px!important;}
.navbar-header {padding:0px 0px;}
#slide-navbar-collapse {position: fixed; top: 50px; left: 0px; z-index: 99; width: 240px; height: auto; background-color: #000;overflow: auto; white-space: nowrap;}
#slide-navbar-collapse1 {position: fixed; top: 50px; right: 0px; z-index: 99; width: 140px; height: auto; background-color: #000	;overflow: auto; white-space: nowrap;}
.menu-overlay {display: none; background-color: #000;  bottom: 0;  left: 0;  opacity: 0;  filter: alpha(opacity=50);  /* IE7 & 8 */ position: fixed; right: 0; top: 0;    z-index: 49;  }
.navbar-nav {  padding:0px 0px;} 

.navbar-toggler {border: 0px solid transparent;}	
.navbar-dark .navbar-toggler {color:#fff !important;}
.navbar {padding: 0rem 0px;}
.call{background:#ccebff; padding:5px; border-left: 3px solid #0099ff; border-top: 1px solid #accbdf;}
.meet{background:#e0fff5; padding:5px; border-left: 3px solid #54c0a0; border-top: 1px solid #d7f6ec;}
.follow-up{background:#ffcccc; padding:7px; border-left: 3px solid #ffcccc; border-top: 1px solid #f5c2c2;}
.dcmf{background:#f2f2f2; padding:5px; border-left: 3px solid #bcbcbc	; border-top: 1px solid #ffffff;}

.col-form-label {padding-top:0px; font-size:12px; padding-left: 15px; padding-right: 15px; color: #797979;}
.form-control {border:0px solid #ccc !important; padding:0px 0px; }	
.bootstrap-select .dropdown-toggle {border: 0px solid #ced4da;}
.filter-option {font-size: 14px !important; color:#212529;  text-align:left;}
.bootstrap-select.btn-group > .dropdown-toggle {  padding: 4px 10px !important;}
.custom-select{background:url("../images/selectarrow.png")no-repeat center right !important; border: 0px solid #ced4da !important;	 }

.ui.selection.dropdown {padding: .275rem .0rem !important;}
.ui.selection.dropdown > .search.icon, .ui.selection.dropdown > .delete.icon, .ui.selection.dropdown > .dropdown.icon {right: 0em !important; padding: 0.85em 15px!important;}
.ui.search.dropdown > .text {left: 0px !important; color: #100f0f; margin-right: 5px;	}
.ui.search.selection.dropdown > input.search {  line-height: 1.21428571em; padding: .275rem .0rem!important;}
.ui.multiple.search.dropdown > input.search {  line-height: 1.21428571em;   padding: .0rem .0rem!important;}
.ui.selection.active.dropdown .menu {border-color: #e4e4e4 !important; box-shadow: 0px 0px 0px 0px rgba(34, 36, 38, 0) !important;margin-top: 5px;}
.ui.selection.active.dropdown {box-shadow: 0px 0px 0px 0px rgba(34, 36, 38, 0)!important; }
.ui.dropdown.selected, .ui.dropdown .menu .selected.item {color: #100f0f 	!important; font-weight: normal !important;}
.ui.selection.dropdown .menu > .item {padding: 0.28571429rem 0.44285714rem !important; border-top: 1px solid #e4e4e4;}
.ui.label {background-color: #FFF;  color: #212529!important;}
.mbsc-event-txt .fa{width:18px;}
.ui.search.dropdown .menu { max-height: 15.01428571rem !important;}
.mbsc-event-list .mbsc-lv .mbsc-lv-item {padding: 0em 10px 0 0px !important;}
.callbg{ background-color: #f2f2f2 !important; color: #212529 !important; padding:10px 0px; font-weight:700; border-left: 5px white solid;
border-right: 5px white solid; margin-top: 5px;}
.callbg:hover {background-color: #bcbcbc !important; color: #212529 !important;}
.callbg.active{background-color: #bcbcbc !important; color: #212529 !important;}
.callbg:first-child {border-left: 0px white solid;}
.callbg:last-child {border-right: 0px white solid;}
.h60{height:50px; }
.small{line-height:1.5 !important; color: #212529;}
.form-control[readonly] {    background-color: #fff;}
.input-group-append {  margin-left: 0px; padding: 4px;}
.lh5{line-height: 5px!important}
.ui.multiple.search.dropdown > input.search{position: relative;margin: 0px;}
.typeahead__search-icon {  padding: 0 1.25rem !important;}
.typeahead__cancel-button { right: 5px !important;}
.typeahead__list > .typeahead__group > a, .typeahead__list > .typeahead__group > a:hover, .typeahead__list > .typeahead__group > a:focus, .typeahead__list > .typeahead__group.active > a {    padding: 0.2rem 0.75rem !important;}
.navbar-nav > li a:hover{background-color: #000000   !important;color: #fff;	}

.ui.search.selection.dropdown > input.search {   padding: .5rem 1.25rem;}
.leadbg-b {background:#000;}
}

@media only screen and (max-width: 768px){
.scroller-right {display:none !important;}
.list{ position: inherit; min-width:auto;}
.list li {display:block;}
.nav-tabs>li { float: none;}
.offset-sm-2 { margin-left: 17.1% !important;}
.navbar {padding: 0rem 0px;}
.ui.selection.dropdown {padding: .275rem .0rem;}
}

@media (max-width: 736px) {
.padding-l {padding-right: 0px !important; padding-left: 0px !important;}
.padding-r {padding-right: 0px !important; padding-left: 0px !important;}
.nav {padding-left: 0px;}
.navbox-trigger {width: 45px;}
.navigation-bar {position: absolute !important;top: 0; left:0;}

.navbox {min-width: 370px;}
.navbox-tiles .tile {width: 70px;height: 70px; margin:5px;}
.navbox-tiles .tile img {width:100%;}
.navbox-tiles .tiletxt {font-size: 10px; top: 50px; text-align: center; padding:3px 2px; }
.navbar-toggle {padding: 0px 0px !important;}
.form-control {padding: 0px 0px !important;}
.bootstrap-select.btn-group > .dropdown-toggle {padding: 5px 12px 5px 5px !important;}
.offset-sm-2 {padding-left: 0px!important; margin-left: 0 !important;}
.search-bg {background:transparent; padding:0px 10px; top: 10px; margin-bottom:20px;}
.border-b { border-bottom: 0px solid #D3D3D3;}

.mbsc-ios.mbsc-page { padding-top: 0px;}
body {    padding-top: 45px;}
.rootwizard .navbar{min-height:5px !important; opacity:0}
}
@media screen and (max-width: 370px) {
.navbox-tiles .tile .icon .fa { font-size: 25px; }
.navbox-tiles .tile .title {  padding: 3px;  font-size: 11px;}
}
.mgbt{margin-bottom: 120px;}

.halfhr {height: 58px; margin-top: 35px;}
.onehr{height:65px;}
.twohr{height:130px !important;}
.statuscolor {border-radius: 50%; width: 5px; height: 5px; position: relative;  top: -3px; right:1px;  }
.statuscolor.ot {background-color: #e65a5a;  padding: 2px; line-height: 0; font-size: 2px;}
.statuscolor.it { background-color: #00b777;  padding: 2px; line-height: 0; font-size: 2px;}