ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	height: auto;
	margin: auto;
	display: flex;
	align-items: center;
}

.wizard>.steps .current-info, .wizard>.steps .number {
	display: none;
}

#wizard {
	min-height: auto;
	background: #fff;
	padding: 50x 0px 0px;
	width: 100%;
}

.steps {
	margin-bottom: 30px;
}

.steps ul {
	display: flex;
	position: relative;
}

.steps ul li {
	width: 20.16%;
	margin-right: 10px;
}

.steps ul li a {
	display: inline-block;
	width: 100%;
	height: 7px;
	background: #e6e6e6;
	border-radius: 3.5px;
}

.steps ul li.first a, .steps ul li.checked a {
	background: #FF3333;
	transition: all 0.5s ease;
}

.steps ul:before {
	content: "Template Select";
	font-size: 22px;
	font-family: "Poppins-SemiBold";
	color: #333;
	top: 20px;
	position: absolute;
}

.steps ul.step-2:before {
	content: "Field Configuration";
}

.actions ul {
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
}

.actions ul.step-last {
	justify-content: flex-end;
}

.actions ul.step-last li:first-child {
	display: none;
}

.actions li a {
	padding: 0;
	border: none;
	display: inline-flex;
	height: 30px;
	width: 135px;
	align-items: center;
	background: #FF3333;
	border-color: #EE1818 !important;
	color: #fff !important;
	cursor: pointer;
	position: relative;
	padding-left: 41px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	font-weight: bolder !important;
}

.actions li a:before {
	/* content: "\f000"; */
	position: absolute;
	top: 19px;
	right: 41px;
	font-family: Material-Design-Iconic-Font;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.actions li a:hover {
	background: #EE1818;
}

.actions li a:hover:before {
	-webkit-animation-name: hvr-icon-wobble-horizontal;
	animation-name: hvr-icon-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.actions li[aria-disabled="true"] a {
	display: none;
}

.actions li:first-child a {
	background: #b3a8a8;
	padding-left: 48px;
}

.actions li:first-child a:before {
	/* content: '\f2ea'; */
	left: 26px;
}

.actions li:first-child a:hover {
	background: #ccc;
}

.actions li:last-child a {
	padding-left: 29px;
	width: 120px;
	font-weight: bolder;
}

.actions li:last-child a:before {
	right: 30px;
}