<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" type="text/css"
	href="/ab-ag-grid-support-resource/css/font-awesome.min.css" />
<link rel="stylesheet" href="/ab-ag-grid-support-resource/css/bootstrap.min.css" />
<link rel="stylesheet" href="/ab-ag-grid-support-resource/css/codemirror.css" />
<link rel="stylesheet" href="/ab-ag-grid-support-resource/css/primeicons/primeicons.css" />
<link rel="stylesheet" href="/ab-ag-grid-support-resource/css/primeng.min.css" />
<link rel="stylesheet" href="/ab-ag-grid-support-resource/css/theme.css" />
</head>

<body>
	<fio-grid-admin
		allendpoint="/ab-ag-grid-support/control/allGridUserConfig"
		saveendpoint="/ab-ag-grid-support/control/adminSaveGrid"
		removeendpoint="/ab-ag-grid-support/control/adminRemoveGrid" />
</body>
<script type="text/javascript" src="/ab-ag-grid-support-resource/fio-grid-admin-3.3.3.js"></script>
</html>